html {
	scroll-behavior: smooth;
}

body{
	padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-size: 16px;
    color: #000;
}
h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
h2{
	font-size: 50px;
	margin-bottom: 58px;
}
h3{
	font-size: 25px;
	margin-bottom: 19px;
}
a{
	text-decoration: none;
}
p{
	margin: 0;
}
section{
	padding-top: 113px;
}
ul, li{
	display: block;
	margin: 0;
	padding: 0;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.header{
    padding-top: 57px;
	background: url('../img/header-bg.jpg') no-repeat center top / cover;
	color: #fff;
	padding-bottom: 322px;
}
.header a{
	color: #fff;
}
.logo{
	margin-right: 69px;
}
.menu{
	display: flex;
}
.menu li a{
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.1em;
}
.menu li{
	margin-right: 40px;
}
.tel{
    font-size: 17px;
	margin-left: auto;
	letter-spacing: 0.1em;
}
.nav{
	display: flex;
	align-items: center;
}
.offer{
	text-transform: uppercase;
	margin-top: 216px;
}
.offer p{
	font-size: 30px;
	letter-spacing: 0.1em;
}
.offer h1{
	font-size: 100px;
	margin-bottom: 19px;
	margin-top: -9px;
	letter-spacing: 0.02em;
}
.btn{
	display: block;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px 47px;
	border: 1px solid #fff; 
	width: 238px;
	text-decoration: none;
}
.description{
	display: flex;
	justify-content: space-between;
}
.description p{
	font-family: 'Open Sans', sans-serif ;
	font-weight: 400;
	text-align: justify;
	line-height: 26px;

}
.desc-left, .desc-right {
	width: 567px;

}
.gallery{
	margin-top: 67px;
	display: flex;
	justify-content: space-between;
}
.footer-text{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif ;
	display: flex;
	padding: 114px 0;
}
.footer-text p{
	margin-right: 67px;
}